In [6]:
# Install otter-grader to import
pip install otter-grader

Defaulting to user installation because normal site-packages is not writeable
Collecting otter-grader
  Downloading otter_grader-5.7.1-py3-none-any.whl (162 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 162.1/162.1 KB 5.8 MB/s eta 0:00:00
Collecting wrapt
  Downloading wrapt-1.16.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (77 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.5/77.5 KB 11.8 MB/s eta 0:00:00
Requirement already satisfied: PyYAML in /opt/python/3.7.13/lib/python3.7/site-packages (from otter-grader) (6.0)
Collecting jupytext
  Downloading jupytext-1.15.2-py3-none-any.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.2/307.2 KB 21.5 MB/s eta 0:00:00
Requirement already satisfied: jinja2 in /opt/python/3.7.13/lib/python3.7/site-packages (from otter-grader) (3.1.2)
Requirement already satisfied: nbformat in /opt/python/3.7.13/lib/python3.7/site-packages (from otter-grader) (5.7.3)
Requirement already satisfied: click in /opt/python/3.7.13/lib/python3.7/site-packages (from otter-grader) (8.1.3)
Collecting fica>=0.3.1
  Downloading fica-0.4.0-py3-none-any.whl (13 kB)
Collecting astunparse
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting dill
  Downloading dill-0.3.7-py3-none-any.whl (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.3/115.3 KB 15.5 MB/s eta 0:00:00
Collecting ipylab
  Downloading ipylab-0.6.0-py3-none-any.whl (767 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 767.1/767.1 KB 25.5 MB/s eta 0:00:00
Requirement already satisfied: ipython in /opt/python/3.7.13/lib/python3.7/site-packages (from otter-grader) (7.34.0)
Requirement already satisfied: setuptools in /opt/python/3.7.13/lib/python3.7/site-packages (from otter-grader) (47.1.0)
Requirement already satisfied: nbconvert in /opt/python/3.7.13/lib/python3.7/site-packages (from otter-grader) (7.2.9)
Requirement already satisfied: ipywidgets in /opt/python/3.7.13/lib/python3.7/site-packages (from otter-grader) (8.0.4)
Collecting python-on-whales
  Downloading python_on_whales-0.60.1-py3-none-any.whl (103 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.2/103.2 KB 15.6 MB/s eta 0:00:00
Requirement already satisfied: pandas in /opt/python/3.7.13/lib/python3.7/site-packages (from otter-grader) (1.3.5)
Requirement already satisfied: requests in /opt/python/3.7.13/lib/python3.7/site-packages (from otter-grader) (2.28.2)
Collecting sphinx
  Downloading sphinx-5.3.0-py3-none-any.whl (3.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 44.2 MB/s eta 0:00:00a 0:00:01
Collecting docutils
  Downloading docutils-0.20.1-py3-none-any.whl (572 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 572.7/572.7 KB 58.0 MB/s eta 0:00:00
Requirement already satisfied: six<2.0,>=1.6.1 in /opt/python/3.7.13/lib/python3.7/site-packages (from astunparse->otter-grader) (1.16.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /opt/python/3.7.13/lib/python3.7/site-packages (from astunparse->otter-grader) (0.38.4)
Requirement already satisfied: importlib-metadata in /opt/python/3.7.13/lib/python3.7/site-packages (from click->otter-grader) (6.0.0)
Requirement already satisfied: widgetsnbextension~=4.0 in /opt/python/3.7.13/lib/python3.7/site-packages (from ipywidgets->otter-grader) (4.0.5)
Requirement already satisfied: jupyterlab-widgets~=3.0 in /opt/python/3.7.13/lib/python3.7/site-packages (from ipywidgets->otter-grader) (3.0.5)
Requirement already satisfied: ipykernel>=4.5.1 in /opt/python/3.7.13/lib/python3.7/site-packages (from ipywidgets->otter-grader) (6.16.2)
Requirement already satisfied: traitlets>=4.3.1 in /opt/python/3.7.13/lib/python3.7/site-packages (from ipywidgets->otter-grader) (5.9.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/python/3.7.13/lib/python3.7/site-packages (from ipython->otter-grader) (3.0.38)
Requirement already satisfied: decorator in /opt/python/3.7.13/lib/python3.7/site-packages (from ipython->otter-grader) (5.1.1)
Requirement already satisfied: pygments in /opt/python/3.7.13/lib/python3.7/site-packages (from ipython->otter-grader) (2.14.0)
Requirement already satisfied: jedi>=0.16 in /opt/python/3.7.13/lib/python3.7/site-packages (from ipython->otter-grader) (0.18.2)
Requirement already satisfied: backcall in /opt/python/3.7.13/lib/python3.7/site-packages (from ipython->otter-grader) (0.2.0)
Requirement already satisfied: pickleshare in /opt/python/3.7.13/lib/python3.7/site-packages (from ipython->otter-grader) (0.7.5)
Requirement already satisfied: matplotlib-inline in /opt/python/3.7.13/lib/python3.7/site-packages (from ipython->otter-grader) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /opt/python/3.7.13/lib/python3.7/site-packages (from ipython->otter-grader) (4.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/python/3.7.13/lib/python3.7/site-packages (from jinja2->otter-grader) (2.1.2)
Collecting mdit-py-plugins
  Downloading mdit_py_plugins-0.3.5-py3-none-any.whl (52 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.1/52.1 KB 8.8 MB/s eta 0:00:00
Collecting toml
  Downloading toml-0.10.2-py2.py3-none-any.whl (16 kB)
Collecting markdown-it-py>=1.0.0
  Downloading markdown_it_py-2.2.0-py3-none-any.whl (84 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.5/84.5 KB 16.8 MB/s eta 0:00:00
Requirement already satisfied: jupyterlab-pygments in /opt/python/3.7.13/lib/python3.7/site-packages (from nbconvert->otter-grader) (0.2.2)
Requirement already satisfied: bleach in /opt/python/3.7.13/lib/python3.7/site-packages (from nbconvert->otter-grader) (6.0.0)
Requirement already satisfied: nbclient>=0.5.0 in /opt/python/3.7.13/lib/python3.7/site-packages (from nbconvert->otter-grader) (0.7.2)
Requirement already satisfied: packaging in /opt/python/3.7.13/lib/python3.7/site-packages (from nbconvert->otter-grader) (23.0)
Requirement already satisfied: mistune<3,>=2.0.3 in /opt/python/3.7.13/lib/python3.7/site-packages (from nbconvert->otter-grader) (2.0.5)
Requirement already satisfied: beautifulsoup4 in /opt/python/3.7.13/lib/python3.7/site-packages (from nbconvert->otter-grader) (4.11.2)
Requirement already satisfied: jupyter-core>=4.7 in /opt/python/3.7.13/lib/python3.7/site-packages (from nbconvert->otter-grader) (4.12.0)
Requirement already satisfied: tinycss2 in /opt/python/3.7.13/lib/python3.7/site-packages (from nbconvert->otter-grader) (1.2.1)
Requirement already satisfied: defusedxml in /opt/python/3.7.13/lib/python3.7/site-packages (from nbconvert->otter-grader) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/python/3.7.13/lib/python3.7/site-packages (from nbconvert->otter-grader) (1.5.0)
Requirement already satisfied: jsonschema>=2.6 in /opt/python/3.7.13/lib/python3.7/site-packages (from nbformat->otter-grader) (4.17.3)
Requirement already satisfied: fastjsonschema in /opt/python/3.7.13/lib/python3.7/site-packages (from nbformat->otter-grader) (2.16.3)
Requirement already satisfied: pytz>=2017.3 in /opt/python/3.7.13/lib/python3.7/site-packages (from pandas->otter-grader) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /opt/python/3.7.13/lib/python3.7/site-packages (from pandas->otter-grader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/python/3.7.13/lib/python3.7/site-packages (from pandas->otter-grader) (2.8.2)
Requirement already satisfied: tqdm in /opt/python/3.7.13/lib/python3.7/site-packages (from python-on-whales->otter-grader) (4.65.0)
Collecting typer>=0.4.1
  Downloading typer-0.12.5-py3-none-any.whl (47 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.3/47.3 KB 11.5 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions in /opt/python/3.7.13/lib/python3.7/site-packages (from python-on-whales->otter-grader) (4.5.0)
Collecting pydantic<2,>=1.5
  Downloading pydantic-1.10.18-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 53.1 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/python/3.7.13/lib/python3.7/site-packages (from requests->otter-grader) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /opt/python/3.7.13/lib/python3.7/site-packages (from requests->otter-grader) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/python/3.7.13/lib/python3.7/site-packages (from requests->otter-grader) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/python/3.7.13/lib/python3.7/site-packages (from requests->otter-grader) (3.4)
Requirement already satisfied: zipp>=0.5 in /opt/python/3.7.13/lib/python3.7/site-packages (from importlib-metadata->click->otter-grader) (3.15.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /opt/python/3.7.13/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets->otter-grader) (7.4.9)
Requirement already satisfied: tornado>=6.1 in /opt/python/3.7.13/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets->otter-grader) (6.2)
Requirement already satisfied: psutil in /opt/python/3.7.13/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets->otter-grader) (5.9.4)
Requirement already satisfied: pyzmq>=17 in /opt/python/3.7.13/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets->otter-grader) (25.0.0)
Requirement already satisfied: nest-asyncio in /opt/python/3.7.13/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets->otter-grader) (1.5.6)
Requirement already satisfied: debugpy>=1.0 in /opt/python/3.7.13/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets->otter-grader) (1.6.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/python/3.7.13/lib/python3.7/site-packages (from jedi>=0.16->ipython->otter-grader) (0.8.3)
Requirement already satisfied: importlib-resources>=1.4.0 in /opt/python/3.7.13/lib/python3.7/site-packages (from jsonschema>=2.6->nbformat->otter-grader) (5.12.0)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in /opt/python/3.7.13/lib/python3.7/site-packages (from jsonschema>=2.6->nbformat->otter-grader) (1.3.10)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /opt/python/3.7.13/lib/python3.7/site-packages (from jsonschema>=2.6->nbformat->otter-grader) (0.19.3)
Requirement already satisfied: attrs>=17.4.0 in /opt/python/3.7.13/lib/python3.7/site-packages (from jsonschema>=2.6->nbformat->otter-grader) (22.2.0)
Collecting mdurl~=0.1
  Downloading mdurl-0.1.2-py3-none-any.whl (10.0 kB)
Requirement already satisfied: ptyprocess>=0.5 in /opt/python/3.7.13/lib/python3.7/site-packages (from pexpect>4.3->ipython->otter-grader) (0.7.0)
Requirement already satisfied: wcwidth in /opt/python/3.7.13/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->otter-grader) (0.2.6)
Collecting shellingham>=1.3.0
  Downloading shellingham-1.5.4-py2.py3-none-any.whl (9.8 kB)
Collecting rich>=10.11.0
  Downloading rich-13.8.1-py3-none-any.whl (241 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 241.6/241.6 KB 29.5 MB/s eta 0:00:00
Requirement already satisfied: soupsieve>1.2 in /opt/python/3.7.13/lib/python3.7/site-packages (from beautifulsoup4->nbconvert->otter-grader) (2.4)
Requirement already satisfied: webencodings in /opt/python/3.7.13/lib/python3.7/site-packages (from bleach->nbconvert->otter-grader) (0.5.1)
Collecting snowballstemmer>=2.0
  Downloading snowballstemmer-2.2.0-py2.py3-none-any.whl (93 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 93.0/93.0 KB 19.5 MB/s eta 0:00:00
Requirement already satisfied: babel>=2.9 in /opt/python/3.7.13/lib/python3.7/site-packages (from sphinx->fica>=0.3.1->otter-grader) (2.12.1)
Collecting alabaster<0.8,>=0.7
  Downloading alabaster-0.7.13-py3-none-any.whl (13 kB)
Collecting sphinxcontrib-applehelp
  Downloading sphinxcontrib_applehelp-1.0.2-py2.py3-none-any.whl (121 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 121.2/121.2 KB 25.3 MB/s eta 0:00:00
Collecting sphinxcontrib-jsmath
  Downloading sphinxcontrib_jsmath-1.0.1-py2.py3-none-any.whl (5.1 kB)
Collecting sphinxcontrib-qthelp
  Downloading sphinxcontrib_qthelp-1.0.3-py2.py3-none-any.whl (90 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.6/90.6 KB 20.5 MB/s eta 0:00:00
Collecting imagesize>=1.3
  Downloading imagesize-1.4.1-py2.py3-none-any.whl (8.8 kB)
Collecting sphinxcontrib-htmlhelp>=2.0.0
  Downloading sphinxcontrib_htmlhelp-2.0.0-py2.py3-none-any.whl (100 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 100.5/100.5 KB 24.5 MB/s eta 0:00:00
Collecting sphinxcontrib-devhelp
  Downloading sphinxcontrib_devhelp-1.0.2-py2.py3-none-any.whl (84 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.7/84.7 KB 21.7 MB/s eta 0:00:00
Collecting sphinxcontrib-serializinghtml>=1.1.5
  Downloading sphinxcontrib_serializinghtml-1.1.5-py2.py3-none-any.whl (94 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 94.0/94.0 KB 24.6 MB/s eta 0:00:00
Collecting docutils
  Downloading docutils-0.19-py3-none-any.whl (570 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 570.5/570.5 KB 57.2 MB/s eta 0:00:00
Requirement already satisfied: entrypoints in /opt/python/3.7.13/lib/python3.7/site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->otter-grader) (0.4)
Installing collected packages: snowballstemmer, wrapt, toml, sphinxcontrib-serializinghtml, sphinxcontrib-qthelp, sphinxcontrib-jsmath, sphinxcontrib-htmlhelp, sphinxcontrib-devhelp, sphinxcontrib-applehelp, shellingham, pydantic, mdurl, imagesize, docutils, dill, astunparse, alabaster, sphinx, markdown-it-py, rich, mdit-py-plugins, fica, typer, jupytext, python-on-whales, ipylab, otter-grader
  WARNING: The script docutils is installed in '/Users/nmoraes/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The scripts sphinx-apidoc, sphinx-autogen, sphinx-build and sphinx-quickstart are installed in '/Users/nmoraes/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script markdown-it is installed in '/Users/nmoraes/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script typer is installed in '/Users/nmoraes/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The scripts jupytext and jupytext-config are installed in '/Users/nmoraes/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script python-on-whales is installed in '/Users/nmoraes/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The scripts gmail_oauth2 and otter are installed in '/Users/nmoraes/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed alabaster-0.7.13 astunparse-1.6.3 dill-0.3.7 docutils-0.19 fica-0.4.0 imagesize-1.4.1 ipylab-0.6.0 jupytext-1.15.2 markdown-it-py-2.2.0 mdit-py-plugins-0.3.5 mdurl-0.1.2 otter-grader-5.7.1 pydantic-1.10.18 python-on-whales-0.60.1 rich-13.8.1 shellingham-1.5.4 snowballstemmer-2.2.0 sphinx-5.3.0 sphinxcontrib-applehelp-1.0.2 sphinxcontrib-devhelp-1.0.2 sphinxcontrib-htmlhelp-2.0.0 sphinxcontrib-jsmath-1.0.1 sphinxcontrib-qthelp-1.0.3 sphinxcontrib-serializinghtml-1.1.5 toml-0.10.2 typer-0.12.5 wrapt-1.16.0
WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the '/opt/python/3.7.13/bin/python3.7 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("hwk1-task2-corals.ipynb")

# Task 2: Exploring coral diversity data

## Instructions 

- First, update the following cell to have a link to *your* Homework 1 GitHub repository:

**UPDATE THIS LINK:**

[https://github.com/nmoraescommit/eds220-hwk1.git]()

- This task covers topics on the lesson on [subsetting `pandas.DataFrames`](https://meds-eds-220.github.io/MEDS-eds-220-course/book/chapters/lesson-3-pandas-subsetting/lesson-3-pandas-subsetting.html). The best strategy to solve it is to get together with your classmates and work on it together after that lecture.

- Review the [complete rubric for this task](https://docs.google.com/document/d/131OnUDOLpOl94SlaMU9nGqT998ABrjFS/edit?usp=sharing&ouid=111507336322611936333&rtpof=true&sd=true) before starting.

- **Make at least 5 commits at moments you think are adequate.** We'll check your repository and view the commit history.

- **Add comments for all your code.** Err on the side of commenting too much for now. Comments should follow best practices.

- **Do not update the top cell with the `otter` import**, this is used internally for grading.

<!-- BEGIN QUESTION -->


## 1
For this task we are going to use data about  [Western Indian Ocean Coral Diversity (McClanahan, 2023)](https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H) from the Knowledge Network for Biocomplexity (KNB) data repository. 

a. Navigate to the dataset's link and explore the data package. 
 
b. Use the next markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

1. Description:
2. Citation: Tim McClanahan. (2023). Western Indian Ocean Coral Diversity. Knowledge Network for Biocomplexity. doi:10.5063/F1K35S3H.
3. Date of Access: 10/07/2024
4. Archive Link: https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H#urn%3Auuid%3Ae7d12a5a-f1a9-4a3e-aaa5-5222f67e799d

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 2
In the next code cell, import the `pandas` package using standard abbreviation in a code cell.

Read in the data from the URL using the `pd.read_csv` function and store it as `coral_div` like this:

```
# Read in data
coral_div = pd.read_csv('the URL goes here')
```

In [3]:
# import packages
import pandas as pd

coral_div = pd.read_csv('https://knb.ecoinformatics.org/knb/d1/mn/v2/object/urn%3Auuid%3Ae7d12a5a-f1a9-4a3e-aaa5-5222f67e799d')

<!-- END QUESTION -->

## 3

Use attributes and methods of the `coral_div` data frame to obtain the following information about it:

Use the code cells marked a-e. For each, add a comment explaining what is the ouput.

a. how many rows and columns does it have? Store your answers in the `rows` and `columns` variables.

In [21]:
# a

# use following code to print to answer

print("The data frame has", coral_div.shape[0], "rows and", coral_div.shape[1], "columns.", sep = " ")

# store the number of rows and columns of coral_div in appropriate variables

rows = coral_div.shape[0]
columns = coral_div.shape[1]

The data frame has 575 rows and 42 columns.

b. What are the column names? Store your answer in the `coral_div_columns` variable.

In [23]:
# b

#  use following code to print to answer

print("The column labels are as follows:", coral_div.columns)

# store the column names in coral_div_columns variable

coral_div_columns = coral_div.columns

The column labels are as follows: Index(['PU_ID', 'PU_Lat', 'PU_Lon', 'Number_of_genera', 'Country', 'Ecoregion',
       'Management', 'Habitat', 'Observer', 'Depth', 'Coralcover',
       'SSTRateofRise', 'PARmax', 'Calcite', 'Dis_oxygen', 'mean.waveNRJ',
       'Salinity_mean', 'andrello_reef_value', 'andrello_nutrients',
       'mean.npp', 'TT_market_hrs', 'TT_pop_hrs', 'cumDHW', 'SST_Kurtosis',
       'SST_Median', 'ChlorA_median', 'andrello_sediments', 'Current_vel_mean',
       'Diff_attenuation', 'Grav_NP', 'Grav_NC', 'PH', 'SST_bimodality',
       'SST_Skewness', 'ClimateStressModel', 'Netflow', 'Indegree',
       'Outdegree', 'Retention', 'min_yr', 'max_yr', 'no_replicates'],
      dtype='object')

c. what are the data types of the columns? Store your answer in the `coral_div_types`.

In [32]:
# c

#  use following code to print to answer

print("The column data types in the coral_div data frame is as follows:\n",coral_div.dtypes)

# store the column names in coral_div_types variable

coral_div_types = coral_div.dtypes

The column data types in the coral_div data frame is as follows:
 PU_ID                    int64
PU_Lat                 float64
PU_Lon                 float64
Number_of_genera         int64
Country                 object
Ecoregion               object
Management              object
Habitat                 object
Observer                object
Depth                  float64
Coralcover               int64
SSTRateofRise          float64
PARmax                 float64
Calcite                float64
Dis_oxygen             float64
mean.waveNRJ           float64
Salinity_mean          float64
andrello_reef_value      int64
andrello_nutrients     float64
mean.npp               float64
TT_market_hrs          float64
TT_pop_hrs             float64
cumDHW                 float64
SST_Kurtosis           float64
SST_Median             float64
ChlorA_median          float64
andrello_sediments     float64
Current_vel_mean       float64
Diff_attenuation       float64
Grav_NP                float64
Grav_NC                float64
PH                     float64
SST_bimodality         float64
SST_Skewness           float64
ClimateStressModel     float64
Netflow                float64
Indegree               float64
Outdegree              float64
Retention              float64
min_yr                   int64
max_yr                   int64
no_replicates            int64
dtype: object

d. display the first 8 rows with all the column names. For this one, you will need to udpate a `pandas` option (HINT: check the first discussion section). Store your answer in the `first_8_rows` variable.

In [43]:
# d

# use the method head() to store first 8 rows with all column names

first_8_rows = coral_div.head(8)

In [44]:
# View the dataframe 
first_8_rows

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
0,7,39.076711,-5.490011,35,Tanzania,East African Coral Coast,UnfishedLow,Crest,Tim,11.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2019,2019,1
1,7,39.076711,-5.490011,22,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,2.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2010,2015,2
2,7,39.076711,-5.490011,25,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,4.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2015,2015,1
3,7,39.076711,-5.490011,26,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,3.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2016,2019,2
4,10,39.054253,-5.512514,27,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,1.5,...,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2010,2019,3
5,10,39.054253,-5.512514,29,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Tim,1.5,...,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2015,2015,1
6,15,39.054253,-5.535017,19,Tanzania,East African Coral Coast,Restricted,Crest,Tim,8.0,...,0.461297,-0.134548,0.595600,0.011721,112.75,51.50,183.75,2019,2019,1
7,39,39.009337,-5.647518,28,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,3.0,...,0.464874,-0.158601,0.626000,-0.063087,96.50,40.75,35.75,2015,2019,3

<!-- BEGIN QUESTION -->

e. some other inital information you are interested in.

In [46]:
# e 

# basic statistical information

coral_div_stats = coral_div.describe()

# view coral_div_stats

coral_div_stats

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Depth,Coralcover,SSTRateofRise,PARmax,Calcite,Dis_oxygen,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
count,575.000000,575.000000,575.000000,575.000000,575.000000,575.000000,575.000000,575.000000,575.000000,575.000000,...,575.000000,575.000000,575.000000,575.000000,575.000000,575.000000,575.000000,575.000000,575.000000,575.000000
mean,3536.620870,43.976240,-12.633028,20.182609,6.253192,38.340870,0.017559,55.558422,0.003622,4.684780,...,0.529946,-0.071522,0.549405,0.203586,51.882609,55.963043,91.107391,2013.165217,2013.923478,1.716522
std,2345.438008,6.549987,6.972048,6.568299,4.501193,10.586395,0.006552,2.118008,0.007026,0.108744,...,0.047659,0.127463,0.151452,0.344229,37.238322,27.701567,147.657638,4.693628,4.638243,1.524934
min,7.000000,32.878336,-27.011417,3.000000,0.500000,10.000000,-0.000463,48.774500,0.000058,4.373000,...,0.416042,-0.297088,0.081800,-0.576851,2.500000,10.500000,0.000000,1998.000000,1998.000000,1.000000
25%,1413.500000,39.413579,-20.006995,16.000000,2.000000,31.000000,0.015466,54.117250,0.000272,4.626000,...,0.488628,-0.168714,0.470100,-0.023227,21.250000,35.625000,11.750000,2009.000000,2010.000000,1.000000
50%,4002.000000,40.671221,-12.827030,20.000000,5.000000,39.000000,0.019233,55.523998,0.000906,4.711000,...,0.547940,-0.095642,0.579325,0.233054,43.500000,54.250000,47.750000,2014.000000,2015.000000,1.000000
75%,5182.000000,48.497793,-5.523765,24.000000,9.500000,45.000000,0.021978,57.133999,0.002866,4.755500,...,0.570981,0.018935,0.656300,0.509071,81.250000,77.000000,109.000000,2016.000000,2018.000000,2.000000
max,11683.000000,57.806585,-1.745137,40.000000,29.000000,60.000000,0.027391,62.193001,0.055976,4.850250,...,0.598189,0.304314,0.813600,0.815635,146.750000,136.000000,1561.500000,2022.000000,2022.000000,19.000000

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 4

Some of the columns have data type `int64` and some have data type `float64`. What is the difference between these `int64` and `float64`?

While both data types can store 64 bits, the difference between int64 and float64 data is that int64 only stores whole numbers and float64 stores values that have decimal places.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 5

The `Country` column indicates the country where the coral reef is located. Explain, in your own words, what is the ouput of `coral_div['Country']` and `coral_div['Country'].unique()`.

In [47]:
print(coral_div['Country'])

print(coral_div['Country'].unique())

0          Tanzania
1          Tanzania
2          Tanzania
3          Tanzania
4          Tanzania
           ...
570    South Africa
571    South Africa
572    South Africa
573    South Africa
574    South Africa
Name: Country, Length: 575, dtype: object
['Tanzania' 'Mozambique' 'Kenya' 'Reunion' 'Comoros' 'Mayotte'
 'French Southern Territories' 'Madagascar' 'Seychelles' 'South Africa'
 'Mauritius']

The output of `coral_div['Country']` is the column containing the names of the countries linked to each of the 573 observations, weheras the output of `coral_div['Country'].unique()` is the unique country names in the column.

<!-- END QUESTION -->

## 6

Check the dataset's [metadata file README_md.doc](https://knb.ecoinformatics.org/view/doi:10.5063/F1K35S3H) to find which column has information about who made an observation. How many observers collected this data? HINT: Check this [method for `pandas.DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html). Store your answer in the `unique_observers` variable.

In [54]:
unique_observers = coral_div['Observer'].nunique()

# print statement detailing code

print("The number of observers are:", unique_observers)

The number of unique observers are: 16 .

## 7

The `Coralcover` column indicates the percent of hard coral cover in each 6 km reef cell surveyed.

<!-- BEGIN QUESTION -->

a)  Describe, in detail,  what kind of object `coral_div['Coralcover']>= 50` is.

The object is a boolean. It returns a binary option, of true or false, in the context of the data in the column of Coralcover.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

b) What data is `coral_div[coral_div['Coralcover'] >= 50]` selecting?

It is selecting the data in the Coralcover column, and returning true if it is greater than or equal to 50, otherwise it returns false.

<!-- END QUESTION -->

## 8

Use code to find if there are there any sites with a 30% coral cover in Tanzania. Store your answer in the `coral_cover` variable.

In [64]:
coral_cover = coral_div[coral_div['Coralcover'] == 30]

In [65]:
# View the dataframe
coral_cover

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
63,693,39.391121,-5.782490,10,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,5.000000,...,0.490512,-0.101724,0.655600,-0.309514,77.00,65.25,147.50,2018,2018,2
64,697,39.391121,-5.804983,22,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.166667,...,0.490769,-0.100365,0.683050,-0.309514,77.00,65.25,147.50,2010,2018,3
122,867,39.368664,-4.656797,23,Kenya,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,2.666667,...,0.448886,-0.036279,0.727025,0.629931,43.50,47.00,53.25,2014,2021,3
123,867,39.368664,-4.656797,26,Kenya,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Tim,1.000000,...,0.448886,-0.036279,0.727025,0.629931,43.50,47.00,53.25,2012,2012,1
124,868,39.391121,-4.656797,24,Kenya,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,4.000000,...,0.450158,-0.035417,0.723350,0.629931,43.50,47.00,53.25,2011,2011,2
125,868,39.391121,-4.656797,20,Kenya,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,3.187500,...,0.450158,-0.035417,0.723350,0.629931,43.50,47.00,53.25,2014,2021,8
126,868,39.391121,-4.656797,22,Kenya,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Tim,4.000000,...,0.450158,-0.035417,0.723350,0.629931,43.50,47.00,53.25,2016,2019,3
127,872,39.436037,-4.679331,22,Kenya,East African Coral Coast,Restricted,Slope,Tim,29.000000,...,0.451827,-0.035988,0.628700,0.629931,43.50,47.00,53.25,2009,2009,1
139,1186,55.246386,-21.012018,19,Reunion,Mascarene Islands,Restricted,NaN,Mireille,2.500000,...,0.568952,-0.009900,0.212200,-0.055715,11.75,14.00,36.00,2005,2005,1
210,2377,49.968784,-15.717807,15,Madagascar,Western and Northern Madagascar,Fished,NaN,Tim,8.500000,...,0.596164,-0.153239,0.470300,0.349270,18.50,89.00,33.75,2005,2005,1
341,4294,39.211458,-4.814515,37,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,...,0.451293,-0.048992,0.608900,0.514920,46.00,49.50,82.75,2018,2018,1
342,4299,39.233916,-4.837043,26,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,12.500000,...,0.451293,-0.048992,0.601725,0.514920,46.00,49.50,82.75,2018,2018,2
343,4302,39.211458,-4.859570,31,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,7.000000,...,0.452402,-0.050477,0.595200,0.514920,46.00,49.50,82.75,2018,2018,1
344,4303,39.301290,-4.859570,23,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,...,0.453806,-0.048007,0.602300,0.514920,46.00,49.50,82.75,2018,2018,1
377,4906,39.660616,-4.972195,33,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.000000,...,0.488396,-0.074229,0.671900,0.156359,66.75,41.75,38.00,2013,2013,2
388,5049,39.615700,-5.490011,14,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,4.000000,...,0.489921,-0.109523,0.657000,-0.328399,93.25,57.25,650.25,2018,2018,1
389,5050,39.638158,-5.490011,18,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,6.000000,...,0.489921,-0.109523,0.618825,-0.328399,93.25,57.25,650.25,2018,2018,1

## 9

We are interested in looking at the PH of sea water (`PH` column),  mean salinity (`Salinity_mean` column), and depth of survey location in meters (`Depth` column). Subset the data frame by selecting only these column. Store your answer in the `filtered_data` variable

In [67]:
filtered_data = coral_div[["PH", "Salinity_mean","Depth"]]

In [68]:
# View the dataframe
filtered_data

         PH  Salinity_mean  Depth
0    8.2175      35.167646  11.00
1    8.2175      35.167646   2.00
2    8.2175      35.167646   4.00
3    8.2175      35.167646   3.00
4    8.2180      35.102688   1.50
..      ...            ...    ...
570  8.2400      35.301208  15.50
571  8.2400      35.301208  12.00
572  8.2400      35.301208  12.60
573  8.2400      35.301208  13.00
574  8.2400      35.301208  13.47

[575 rows x 3 columns]

## 10
The `max_yr` column indicates the year of last sampling at a given site. Select the PH, salinity, and depth for sites where sampling ended in 2017. Store your answer in the `sampling_2017` variable.

In [72]:
sampling_2017 = filtered_data[coral_div['max_yr'] <= 2017]

In [73]:
# View the dataframe 
sampling_2017

         PH  Salinity_mean      Depth
1    8.2175      35.167646   2.000000
2    8.2175      35.167646   4.000000
5    8.2180      35.102688   1.500000
8    8.2185      35.106329   6.500000
10   8.2170      35.105648   2.000000
..      ...            ...        ...
569  8.2400      35.301208  13.833333
570  8.2400      35.301208  15.500000
571  8.2400      35.301208  12.000000
572  8.2400      35.301208  12.600000
574  8.2400      35.301208  13.470000

[429 rows x 3 columns]

## 11
Use `iloc` to select rows 95 throuhg 100 (including 100) in the 17th, 20th, and 28th columns and assign these values to a new variable called `subset`. View the new `subset` dataframe.

HINT: the ouput columns should be `Salinity_mean`, `mean.npp` and `Current_vel_mean`. Make sure you are indexing from 0.

In [ ]:
subset = ...

In [ ]:
# View the dataframe
subset

<!-- BEGIN QUESTION -->

## 12 

Run `subset.isna()`. Explain what this code does and what the output represents.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 13
Run `subset.isna().any()`. Explain in your own words what this code does and what the output represents. HINT: check the [documentation of `pandas.Sries.any`](https://pandas.pydata.org/docs/reference/api/pandas.Series.any.html).

_Type your answer here, replacing this text._

<!-- END QUESTION -->

## 14 

Select the rows in `subset` that have NA in the `Current_vel_mean` column. Store your answer in the `subset_na` variable.

In [ ]:
subset_na = ...

In [ ]:
# View the dataframe 
subset_na